# Gitignore for Bank of England Project

# Virtual environment
.venv/

# Large data files (do not commit raw data)
data/House_Price_Full.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.pyc

# Editor/IDE specific files
.vscode/
.idea/

# Logs
*.log
